
body, html {
    max-width: 100%;
    overflow-x: hidden;
}

main {
    min-height: 80vh;
    
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.08rem;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}



/* carousel */
.carousel {
    margin-bottom: 2rem;
    background-color:teal
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 20px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {

   .searchbox {
       margin-top: 2rem;
       margin-bottom: 1rem;
   } 
   .searchbox-btn {
       margin-bottom: 1rem;
       margin-left: auto;
       margin-right: auto;
       padding: 0.5rem 6rem 0.5rem 6rem !important;
   }

  .carousel-caption h2 {
    font-size: 2.5vw;
  }

  .carousel img {
    padding: 30px;
  }
}